{% extends 'base2.html' %}
{% load static %}


{% block title %}
首页
{% endblock %}

{% block b_left %}
<div class="b_left_top">
		<p class="rt t_s">
			共 <span>{{ cate.articles.count }}</span> 篇
		</p>
		
		<h1 class="">
			<strong>文章分类:{{cate.name}}</strong>
		</h1>
		<p class="t_desc">
			{{cate.desc}}
		</p>
		
</div>
		
<div class="b_left_middle">
	<a href="" class="active">
		<strong>
			<span class="glyphicon glyphicon-time" aria-hidden="true" ></span>
			时间排序
		</strong>
	</a>
	<a href="">
		<strong>
			<span class="glyphicon glyphicon-fire" aria-hidden="true" ></span>
			热度排序
		</strong>
	</a>
</div>

<div class="b_left_bottom">
	<div class="a_list">
		{% for a in cate.articles.all %}
		<div class="article">
			<div class="a_right">
				<a href="{% url 'mainapp:article' a.id %}">
					<img src="/media/{{ a.mainImg }}" alt="">
				</a>
			</div>
			
			<div class="a_left">
				<div class="a_time">
					<img src="{% static 'img/xhr.png' %}" alt="">
					<span>Hopetree</span>
					<span>
						<span class="glyphicon glyphicon-bookmark" aria-hidden="true" >
		
						</span>{{a.create_time}}
					</span>
				</div>
				
				<h2 class="title">
					<a href="{% url 'mainapp:article' a.id %}">{{ a.aname }}</a>
				</h2>
				
				<p class="desc">
					{{ a.adesc }}
				</p>
				
				<div class="left_bot">
					<a href="{% url 'mainapp:cate' a.cate.id %}">{{ a.cate.name }}</a>
					<span style="padding-left: 5px;">
						<span class="glyphicon glyphicon-eye-open" aria-hidden="true" >
										
						</span>{{ a.read_num }}
						
					</span>
					<a href="" style="color:#6c757d;padding: 0 5px;">
						<span class="glyphicon glyphicon-bell" aria-hidden="true" >
										
						</span>{{ a.questions.all.count }}
					</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>



{% endblock %}
