
{% extends 'base.html' %}
{% load static %}




{% block title %}
登录
{% endblock %}

{% block lib %}
<link rel="stylesheet" href="{% static 'css/regist.css' %}">
{% endblock %}


{% block body %}

<div class="regist">
	<div class="reg_dis">
		<div class="reg_head">
			<h3>修改密码</h3>
		</div>
		<hr>
		<form action="{% url 'userapp:changePassword' %}" method="post">
			<p class="text-danger">{{error}}</p>
			{% csrf_token %}
			<div class="reg_body">	
				{{cpf.password.label_tag }}{{cpf.password}}
				<br>
				{{cpf.npassword.label_tag }}{{cpf.npassword}}
				<br>
				{{cpf.npassword2.label_tag }}{{cpf.npassword2}}
				<br>
				
				<div class="reg_body_bot">
					
					<input type="submit" name="btn" value="修改密码" class="btn btn-success rt">
				</div>
			</div>
		</form>
		<hr>
		<div class="reg_footer">
			<a href="">
				<img src="{% static 'img/weibo.png' %}" alt="">
			</a>
			<a href="">
				<img src="{% static 'img/github1.png' %}" alt="">
			</a>
		</div>
	</div>

</div>


{% endblock %}