{% extends 'base.html' %}
{% load static %}




{% block title %}
登录
{% endblock %}

{% block lib %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}


{% block body %}

<div class="login">
	<div class="log_dis">
		<div class="log_head">
			<h3>登录</h3>
		</div>
		<hr>
		<form action="" method="post">
			<p class="text-danger">{{error}}</p>
			{% csrf_token %}
			<div class="log_body">
				{{lf.email.label_tag }}{{lf.email}}
				<br>
				{{lf.password.label_tag }}{{lf.password}}
				<div class="log_body_bot">
					<a href="{% url 'userapp:regist' %}">还没账号去注册</a>
					<input type="submit" name="btn" value="登录" class="btn btn-success rt">
				</div>
			</div>
		</form>
		<hr>
		<div class="log_footer">
			<a href="">
				<img src="{% static 'img/weibo.png' %}" alt="">
			</a>
			<a href="">
				<img src="{% static 'img/github1.png' %}" alt="">
			</a>
		</div>
		<br>
		<br>
		<br>
		
	</div>
	<br>
	<br>
	<br>
</div>


{% endblock %}